    <div id="contact_aspect_config_form" class="aspect_config_form">
        <div>
           <div class="formrow">
              <label class="fieldtitle">Style class</label>
              <input type="text" id="aspect_attributes[style_class]" name="aspect_attributes[style_class]" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.aspect_attributes.style_class %>" <%% } %>/>
              <div class="fielddescription">The style class to apply.</div>
            </div>           
        </div>
    </div>