         <div id="contact_template">
           <div class="entity-field"><span class="entity-fieldlabel"><%=t.contact.website%></span> <span class="entity-fieldvalue"><%%= entity.contact_website %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel"><%=t.contact.email%></span> <span class="entity-fieldvalue"><%%= entity.contact_email %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel"><%=t.contact.phone_number%></span> <span class="entity-fieldvalue"><%%= entity.contact_phone_number %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel"><%=t.contact.mobile%></span> <span class="entity-fieldvalue"><%%= entity.contact_mobile %></span> </div>
         </div>