         <div id="contact_template">
           <div class="entity-field"><span class="entity-fieldlabel">Web site</span> <span class="entity-fieldvalue"><%%= entity.contact_website %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Email</span> <span class="entity-fieldvalue"><%%= entity.contact_email %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Phone number</span> <span class="entity-fieldvalue"><%%= entity.contact_phone_number %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Mobile</span> <span class="entity-fieldvalue"><%%= entity.contact_mobile %></span> </div>
         </div>